h1 {
  font-family: "Verdana";
  color: #FFFFFF;
}
p {
  font-family: "Verdana";
  font-size: 18px;
  text-indent: 50px;
  color: #FFFFFF;
}
body {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
}
