h1 {
  font-family: "Verdana";
  text-indent: 25px;
}
p {
  font-family: "Verdana";
  font-size: 18px;
  text-indent: 75px;
}
h3 {
  font-family: "Verdana";
  text-indent: 25px;
}
.html {
  background-color: #000000;
}
.body{
  background-color: #FFFFFF;
}
